*.local
*tsconfig.tsbuildinfo*
.DS_Store
.eslintcache
Brewfile.lock.json
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

docs/.next/
docs/public/playroom/

lib/dist/
lib/coverage/
lib/src/components/icons/generated/

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

.idea
*.iml